<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843969770691-r6u9nho6vckghn972k0l0sdndgj9beqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843969770691-r6u9nho6vckghn972k0l0sdndgj9beqk</string>
	<key>API_KEY</key>
	<string>AIzaSyBY6kYiv_544-sZrBbd86_iDq76QyhcEaw</string>
	<key>GCM_SENDER_ID</key>
	<string>843969770691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bennett.Planetwatcher</string>
	<key>PROJECT_ID</key>
	<string>planetwatcher-34269</string>
	<key>STORAGE_BUCKET</key>
	<string>planetwatcher-34269.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843969770691:ios:e7bbc288c7552679219e76</string>
</dict>
</plist>